<section class="intro">
  <div class="container">
      <p class="lead">Hi, I'm Ahan Gupta. I am currently a computer science PhD student at UIUC, where I investigate high-performance machine learning, especially how to accelerate generative AI applications from the perspective of compilers/systems and algorithms. In the not so distant past, I have worked as a researcher at <a href=https://deepmind.google/> Google DeepMind </a> (MountainView 2024), and a software engineer at <a href=https://www.citadel.com/>Citadel</a>(Hong Kong 2021) and <a href=https://www.ninjavan.co/>Ninja-van</a>(Singapore 2018). </p>
  </div>
</section>
