<section class="intro">
  <div class="container">
      <p class="lead">Hi, I'm Ahan Gupta, a computer science PhD student at UIUC. Broadly, I investigate high-performance machine learning from the perspective of compilers/systems and algorithms. Check out my <a href="/publications">publications</a> for my latest work. </br> 
      In the not so distant past, I have worked as a researcher at <a href=https://deepmind.google/> Google DeepMind </a> (Mountain View 2024), as well as a software engineer at <a href=https://www.citadel.com/>Citadel</a> (Hong Kong 2021) and <a href=https://www.ninjavan.co/>Ninja-van</a> (Singapore 2018). For more information, feel free to look at my <a href="../assets/images/Resume.pdf" target="_blank">cv</a>. </p>
  </div>
</section>
